{
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "singleQuote": true,
  "bracketSpacing": false,
  "tailwindFunctions": ["tv", "twMerge", "twJoin"],
  "tailwindStylesheet": "./src/app.css",
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
