@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'tailwind-variants';
@plugin 'ui-ingredients-plugin-tailwindcss';

@layer base {
  [hidden] {
    display: none !important;
  }

  button {
    cursor: pointer;
  }
}

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Fira Code', monospace;

  --z-auto: auto;
  --z-base: 0;
  --z-docked: 10;
  --z-dropdown: 1000;
  --z-sticky: 1100;
  --z-banner: 1200;
  --z-overlay: 1300;
  --z-modal: 1400;
  --z-popover: 1500;
  --z-skipLink: 1600;
  --z-toast: 1700;
  --z-tooltip: 1800;

  --spacing-4\.5: 1.125rem;
  --spacing-5\.5: 1.375rem;
  --spacing-9\.5: 2.375rem;
}

@utility z-* {
  z-index: --value(--z-\*);
  z-index: --value([integer]);
}

@utility arrow-bg-* {
  --arrow-bg: --value([color]);
  --arrow-bg: --value(--color-\*);
}

@utility arrow-size-* {
  --arrow-size: calc(var(--spacing) * --value(integer));
  --arrow-size: --value([\*]);
}

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant icon (& svg);
