$accentColor: #22d3ee;
$primaryColor: #d5dde7;
$primaryBgColor: #12181b;
$overlayBgColor: #000000f7;

$breakpointMd: 612px;
$breakpointLg: 1024px;
$breakpointXl: 1248px;

$RobotoCondensed: 'Roboto Condensed', sans-serif;
