$primaryFont: 'IBM Plex Sans', sans-serif;
$secondaryFont: 'Roboto Condensed', sans-serif;
$accentColor: #22d3ee;
$primaryColor: #d5dde7;
$primaryBgColor: #12181b;
$overlayBgColor: #000000e8;

$breakpointMd: 612px;
$breakpointLg: 1024px;
$breakpointXl: 1248px;
