@use 'vars';
@use 'animate' as *;

.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    height: 1rem;
    width: 6rem;
    border-radius: 2rem;
    background-color: vars.$primaryColor;
    animation: pulse 1.5s infinite;
  }

  .nav {
    display: none;
  }

  .hamburger {
    width: 32px;
    height: 0.8rem;
    border-radius: 1.4rem;
    background-color: vars.$primaryColor;
    animation: pulse 1.5s infinite;
  }
}

@media screen and (min-width: vars.$breakpointMd) {
  .header {
    .nav {
      display: block;
      height: 1rem;
      width: 13rem;
      border-radius: 2rem;
      background-color: vars.$primaryColor;
      animation: pulse 1.5s infinite;
    }

    .hamburger {
      display: none;
    }
  }
}
