@use 'vars';
@use 'animate' as *;

.header {
  font-family: vars.$secondaryFont;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 1rem;

    span:first-child {
      color: vars.$accentColor;
    }

    span:last-child {
      margin-left: 0.2rem;
    }
  }

  .nav {
    display: none;
    animation: fadeIn 250ms linear;
    z-index: 9;

    &.active {
      display: flex;
    }

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.911);
    align-items: center;
    justify-content: center;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        text-align: center;

        &:not(:first-child) {
          margin-top: 0.5rem;
        }

        a {
          text-decoration: none;
          color: inherit;
          font-size: 1.4rem;
          font-weight: 300;
          text-transform: uppercase;

          &.active {
            color: vars.$accentColor;
          }
        }
      }
    }
  }

  .hamburger {
    display: block;
    border: none;
    width: 32px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
    z-index: 9;

    div {
      width: 100%;
      height: 1px;
      background-color: darken($color: vars.$primaryColor, $amount: 30);
      transition: all 200ms ease-in-out;
    }

    div:first-child {
      margin-bottom: 0.2rem;
    }

    div:last-child {
      margin-top: 0.2rem;
    }

    &.active {
      div:first-child {
        margin-bottom: 0;
        rotate: 45deg;
      }

      div:last-child {
        margin-top: 0;
        rotate: -45deg;
      }
    }
  }
}

@media screen and (min-width: vars.$breakpointMd) {
  .header {
    .nav {
      display: block;
      position: static;
      background-color: unset;
      width: auto;
      height: unset;

      ul {
        display: flex;
        gap: 1rem;

        li {
          text-align: unset;

          &:not(:first-child) {
            margin-top: 0;
          }

          a {
            font-weight: 400;
            font-size: 1rem;
          }
        }
      }
    }

    .hamburger {
      display: none;
    }
  }
}
